
@using TwitterApp.Models

@model HomeViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a href="/post/addpost">Yeni Post</a>
    <form asp-controller="Account" asp-action="Logout" method="post">
     <div class="form-group">
        <input type="submit" value="Logout" class="btn btn-primary" />
    </div>
    </form>

    <div>
        @foreach (var item in Model.Posts)
        {
            <p>@item.Content</p>
            <p>@item.CreateDate.ToString("dd-MM-yyyy")</p>
        }
    </div>
</div>

